@page
@model WEB_VitalConnectApi.Pages.HistorialModel

<div class="container mt-4">
    <h2>Historial Clínico</h2>

    <div class="list-group">
        @foreach (var item in Model.Consultas)
        {
            <div class="list-group-item">
                <h5>@item.FechaConsulta.ToString("dd/MM/yyyy")</h5>
                <p>@item.Diagnostico</p>
            </div>
        }
    </div>
</div>