@page
@model WEB_VitalConnectApi.Pages.RecetasModel

<div class="container mt-4">
    <h2>Recetas Médicas</h2>

    <div class="accordion" id="recetasAccordion">
        @foreach (var receta in Model.RecetasPaciente)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" data-bs-toggle="collapse">
                        @receta.NombreMedicamento
                    </button>
                </h2>

                <div class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <p><strong>Dosis:</strong> @receta.Dosis</p>
                        <p><strong>Duración:</strong> @receta.Dias dias</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>