@page
@model WEB_VitalConnectApi.Pages.RegistroPacienteModel
@{
    ViewData["Title"] = "Registro Paciente";
}

<div class="container mt-4">
    <div class="card shadow rounded-4 p-4">
        <h2 class="mb-4">Registro de Paciente</h2>

        <form method="post">

            <div class="mb-3">
                <label>Nombre Completo</label>
                <input asp-for="NombreCompleto" class="form-control" />
            </div>

            <div class="mb-3">
                <label>CI</label>
                <input asp-for="CI" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Género</label>
                <select asp-for="Genero" class="form-select">
                    <option value="">Seleccione</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Dirección</label>
                <input asp-for="Direccion" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Fecha de Nacimiento</label>
                <input asp-for="FechaNacimiento" type="date" class="form-control" />
            </div>

            <button class="btn btn-primary w-100">
                Registrar
            </button>
        </form>
    </div>
</div>