@page
@model WEB_VitalConnectApi.Pages.ReservarCitaModel

<div class="container mt-4">
    <div class="card shadow rounded-4 p-4">
        <h2>Reservar Cita</h2>

        <form method="post">
            <div class="mb-3">
                <label>Especialidad</label>
                <input asp-for="Especialidad" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Médico</label>
                <input asp-for="Medico" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Fecha</label>
                <input asp-for="Fecha" type="date" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Hora</label>
                <input asp-for="Hora" type="time" class="form-control" />
            </div>

            <button class="btn btn-success w-100">Reservar</button>
        </form>
    </div>
</div>