@page
@model WEB_VitalConnectApi.Pages.ReservarCitaModel

<div class="container mt-4">
    <div class="card shadow rounded-4 p-4">
        <h2>Reservar Cita</h2>

        <form method="post">
            <div class="mb-3">
                <label>Especialidad</label>
                <select asp-for="NuevaCita.Especialidad" class="form-select">
                    <option>Cardiología</option>
                    <option>Pediatría</option>
                    <option>Odontología</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Médico</label>
                <select asp-for="NuevaCita.IdProfesional" class="form-select">
                    @foreach (var medico in Model.Profesionales)
                    {
                        <option value="@medico.ID">@medico.NombreCompleto</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label>Fecha</label>
                <input type="date" asp-for="NuevaCita.Fecha" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Hora</label>
                <input type="time" asp-for="NuevaCita.Hora" class="form-control" />
            </div>

            <button class="btn btn-success">Reservar</button>
        </form>
    </div>
</div>