@page
@model AtencionModel
@{
    ViewData["Title"] = "Crear Ficha de Atencion";
}

<div class="container mt-4">

    <h3 class="fw-bold mb-4">Lista de Espera</h3>

    <div class="card shadow rounded-4 p-3">

        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Lista)
                {
                    <tr>
                        <td>@item.IdCita</td>
                        <td>@item.FechaAtencion.ToShortTimeString()</td>
                        <td>
                            <a class="btn btn-success"
                               asp-page="CrearReceta"
                               asp-route-idFicha="@item.FichaAtencionId">
                                Atender
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>
